*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
header{
    border: 2px solid black;
    background-color: rgb(28, 43, 95);
    color:black;
    padding: 30px;


}

nav h1{
    font-size: 30px;
    text-align:start ;
    

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    gap: 50;
    padding: 100x;
    list-style: none;
    align-items:start ;

}
.nav-menu a{
    color: white;
text-decoration: none;}

.nav-menu a:hover{
    background-color: gray;
    font-size: 25px;
    
    

}

.hero-img{
    
    width: 100%;
    height:auto;}
  .hero-p{
    background-color: rgb(52, 74, 114);
    border: 1px solid gray;
    padding: 20px;
animation-name: myanimation;
animation-duration: 4s;
box-shadow: 5px 10px rgb(38, 13, 114);
    
        
    }
    @keyframes myanimation{
        from{background-color:rgb(52,74,144);}
        to{background-color: blueviolet;}
        
    }

    .about{
        background-color: bisque;

    }
    .about-h2{
font-size: 25px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color:black;
padding-top: 20px;
margin-bottom: 10;


        
        


    }
    .about-p{
        margin-left: 2px
        margin-bottom: 40px;
        margin-top: 15px;}
        .about-img{
            border-radius: 50%;
            margin-top: 20px ;
            margin-left:40px;
            margin-bottom: 30px;
        }
        .skill{
            background-color: rgb(146, 141, 134);
            border: 4px solid grey;
        

        }
        .skill-h3{ 
            
            margin-top: 5px;
            margin-bottom: 15px;

        }
        .skill-ul{
            margin-bottom: 5px;
        }
        .project-h2{
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 30px;
        }
        .project-p{
            margin-bottom: 20px;
           
           
        }
        .project-ul{
            border:2px solid grey ;
    
            margin-right: 800px;
            background-color: aqua;
            transition:width 2s;

            
        }
        .project-ul:hover{
            width:100% ;
        }
        .project-ul a:hover{
            background-color: yellowgreen;

        }
        .contact-form{
            border: 1px solid grey;
            background-color: rgb(247, 237, 225);
        }
        .contact-h2{
            padding-top: 10px;
           margin-top: 10px;
            margin-bottom:20px ;
        }
        input[type=text]{
 
  padding: 12px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  
}      
input[type=email]{
padding: 12px;
border: 2px solid grey;
border-radius: 4px;
margin-top:6px ;
margin-bottom: 16px;


        }
        textarea{
            padding: 12px;
             border: 2px solid gray;
 border-radius: 4px;
 margin-top: 6px;
 margin-bottom: px;
 
        }
        .button{
            margin-top: 20px;
            padding-right: 40px;
        }
        
.button :hover {
    background-color: gray;}



footer{
    margin-top: 20px;
}

